        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: #333; /* Change the background color as needed */
            color: white;
        }

        .logo-container {
            width: 50px; /* Adjust the size as needed */
            height: 50px; /* Adjust the size as needed */
            overflow: hidden;
            border-radius: 50%;
            margin-right: 10px; /* Adjust the margin as needed */
        }

        .logo-img {
            width: 100%;
            height: auto;
            display: block;
        }

        .logo {
            font-size: 1.5em;
            font-weight: bold;
        }
.menu-icon {
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
}

.menu-icon div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.menu {
    display: none;
    /* Add your menu styles here */
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: none;
}

.qrcode {/* Make the image cover the whole screen */
  object-fit: cover;
   height:600px;/* Ensure the image maintains its aspect ratio while covering the screen */
  display: none;
  margin:auto;
}

@media (max-width: 768px) {
  .logo {
    font-size: 2em;
  }

  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .menu li {
    display: block;
    padding: 10px;
    cursor: pointer;
    color:red;
  }

  .qrcode {
    display: none;
  }
}
